
 
 <!--- #FOOTER -->
                            
<footer class="footer">
  
  <div class="footer-top">
    <div class="container">
      
      <div class="footer-brand">
        <a href="#" class="logo">      <div class="logo mr-auto">
          <h1 class="text-light"><a href="/"><span>KRPYTHIVE</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div></a>
        <h2 class="footer-title">Let's talk! 🤙</h2>
        <a href="tel:+123456789101" class="footer-contact-link">+12 345 678 9101</a>
        <a href="mailto:hello.cryptex@gmail.com" class="footer-contact-link">hello.cryptex@gmail.com</a>
        <address class="footer-contact-link">  Cecilia Chapman 711-2880 Nulla St. Mankato Mississippi 96522</address>
        
      </div>
      
      <ul class="footer-list">
        <li><p class="footer-list-title">Products</p></li>  <li><a href="#" class="footer-link">Spot</a></li>  <li><a href="#" class="footer-link">Inverse Perpetual</a></li>  <li><a href="#" class="footer-link">USDT Perpetual</a></li>  <li><a href="#" class="footer-link">Exchange</a></li>  <li><a href="#" class="footer-link">Launchpad</a></li>  <li><a href="#" class="footer-link">Binance Pay</a></li>
        
      </ul>
      
      <ul class="footer-list">
        
        <li><p class="footer-list-title">Services</p></li>
        <li><a href="#" class="footer-link">Buy Crypto</a></li>
        <li><a href="#" class="footer-link">Markets</a></li>
        <li><a href="#" class="footer-link">Tranding Fee</a></li>
        <li><a href="#" class="footer-link">Affiliate Program</a></li>
        <li><a href="#" class="footer-link">Referral Program</a></li>
        <li><a href="#" class="footer-link">API</a></li>
        
      </ul>
      
      <ul class="footer-list">
        
        <li><p class="footer-list-title">Support</p></li>
        <li><a href="#" class="footer-link">Bybit Learn</a></li>
        <li><a href="#" class="footer-link">Help Center</a></li>
        <li><a href="#" class="footer-link">User Feedback</a></li>
        <li><a href="#" class="footer-link">Submit a request</a></li>
        <li><a href="#" class="footer-link">API Documentation</a></li>
        <li><a href="#" class="footer-link">Trading Rules</a></li>
        
      </ul>
      
      <ul class="footer-list">
        
        <li><p class="footer-list-title">About Us</p></li>
        <li><a href="#" class="footer-link">About Bybit</a></li>
        <li><a href="#" class="footer-link">Authenticity Check</a></li>
        <li><a href="#" class="footer-link">Careers</a></li>
        <li><a href="#" class="footer-link">Business Contacts</a></li>
        <li><a href="#" class="footer-link">Blog</a></li>
        
      </ul>
      
    </div>
  </div>
  
 
  
</footer>
                            
                            
                            

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/vendor/counterup/counterup.min.js"></script>
  <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/venobox/venobox.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>

  <!-- icon file -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>
  

</body>
<script src="script.js"></script>
</html>