<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title><%= title %>CoinProw</title>
  <!-- Primary Meta Tags -->
<title>Home | CoinProw</title>
<meta name="title" content="Home | CoinProw">
<meta name="description" content="Coinprow is a financial technology company founded for the creation of investment services to individuals in the crypto world.We engage in professional trading on cryptocurrency exchanges. We increase our investors funds by our tremendous background and highly specialised expertise.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://coinprow.com/">
<meta property="og:title" content="Home | CoinProw">
<meta property="og:description" content="Coinprow is a financial technology company founded for the creation of investment services to individuals in the crypto world.We engage in professional trading on cryptocurrency exchanges. We increase our investors funds by our tremendous background and highly specialised expertise.">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://coinprow.com/">
<meta property="twitter:title" content="Home | CoinProw">
<meta property="twitter:description" content="Coinprow is a financial technology company founded for the creation of investment services to individuals in the crypto world.We engage in professional trading on cryptocurrency exchanges. We increase our investors funds by our tremendous background and highly specialised expertise.">
<meta property="twitter:image" content="">

  <!-- Favicons -->
  <link href="/img/icon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/vendor/venobox/venobox.css" rel="stylesheet">
  <!-- <link href="/vendor/aos/aos.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/login.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/"><span><svg width="160" height="80" viewBox="0 0 160 80" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="160" height="80" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M150.374 42.9903C150.374 35.0556 145.728 28.7946 136.848 28.7946C127.932 28.7946 122.537 35.0556 122.537 42.9283C122.537 52.2578 128.906 56.9691 138.047 56.9691C142.506 56.9691 145.878 56.1322 148.425 54.9544V48.7554C145.878 49.8092 142.955 50.4601 139.246 50.4601C135.612 50.4601 132.39 49.4063 131.978 45.7489H150.299C150.299 45.3459 150.374 43.7342 150.374 42.9903ZM131.866 40.0458C131.866 36.5433 134.451 35.0866 136.811 35.0866C139.096 35.0866 141.532 36.5433 141.532 40.0458H131.866Z" fill="#FFBB11"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M111.99 26.9657L121.394 25.292V19L111.99 20.6427V26.9657Z" fill="#FFBB11"/>
          <path d="M121.394 29.3213H111.99V56.442H121.394V29.3213Z" fill="#FFBB11"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M101.912 31.615L101.312 29.3214H93.2198V56.4421H102.586V38.062C104.797 35.6754 108.543 36.1093 109.705 36.4502V29.3214C108.506 28.9494 104.122 28.2675 101.912 31.615Z" fill="#FFBB11"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M83.1791 22.5953L74.0375 24.2071L74 49.0342C74 53.6214 78.1587 56.9999 83.7036 56.9999C86.7758 56.9999 89.0237 56.535 90.2601 55.9771V49.6851C89.0612 50.088 83.1416 51.5138 83.1416 46.9265V35.9232H90.2601V29.3213H83.1416L83.1791 22.5953Z" fill="#FFBB11"/>
          <g clip-path="url(#clip0_308_1994)">
          <path d="M58.5 61C69.8218 61 79 52.4934 79 42C79 31.5066 69.8218 23 58.5 23C47.1782 23 38 31.5066 38 42C38 52.4934 47.1782 61 58.5 61Z" fill="#FFBB11"/>
          <path d="M68.75 41.5464C68.75 46.8376 64.3604 48.6368 60.6653 48.6368V50.0162H63.5161V51.8848H60.6666V54.0333H56.2079V51.8848H53.4826V50.0162H56.2027V48.6189C55.0201 48.6189 48.25 48.3569 48.25 41.1624V32.5H52.6767V41.4937C52.6767 45.2489 56.2207 45.2142 56.2207 45.2142V32.5H60.6666V45.2142C60.6666 45.2142 64.3233 45.4057 64.3233 41.4423V32.5H68.75V41.5464Z" fill="white"/>
          </g>
          <defs>
          <clipPath id="clip0_308_1994">
          <rect width="41" height="38" fill="white" transform="translate(38 23)"/>
          </clipPath>
          </defs>
          </svg></span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/howItWorks">How It works</a></li>
          <li><a href="/affilates">Affilates</a></li>
          <li><a href="/OurTeam">Our Team</a></li>
          <li><a href="/payouts">Payouts</a></li>
          <li><a href="/contact">Contact</a></li>
      <%  if(!currentUser){ %>
          <li><a href="/login"><b>Login</b></a></li>
          <li class="get-started"><a href="/register">Get Started</a></li>
      <% } else { %>
          <li><a href="/dashboard"><b><%= currentUser.username.toUpperCase()%></b></a></li>
          <li class="get-started"><a href="/logout">Log out</a></li>
      <% } %>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
    
  </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
    
      <div class="container">
        <br>
        <% if (error && error.length > 0) { %>
          <div class="alert alert-danger" role="alert">
            <%= error %>
          </div>
        <%  } %>
        <% if (success && success.length > 0) { %>
          <div class="alert alert-success" role="alert">
            <%= success %>
          </div>
        <%  } %>
  