<section class="section about" aria-label="about">
    <div class="container">
      <img src="/img/replace.jpg" alt="" class="countimg mobile_svg">
      <div class="about-content">
        <h2 class="h2 section-title">What Is Cryptex</h2>
        <p class="section-text">    Experience a variety of trading on Bitcost. You can use various types of coin transactions such as Spot    Trade, Futures    Trade, P2P, Staking, Mining, and margin.  </p>
        <ul class="section-list">
          <li class="section-item">      <div class="title-wrapper">        <ion-icon name="checkmark-circle" aria-hidden="true"></ion-icon>
            <h3 class="h3 list-title">View real-time cryptocurrency prices</h3>      </div>
            <p class="item-text">        Experience a variety of trading on Bitcost. You can use various types of coin transactions such as        Spot Trade, Futures        Trade, P2P, Staking, Mining, and margin.      </p>    </li>
            <li class="section-item">      <div class="title-wrapper">        <ion-icon name="checkmark-circle" aria-hidden="true"></ion-icon>
              <h3 class="h3 list-title">Buy and sell BTC, ETH, XRP, OKB, Etc...</h3>      </div>
              <p class="item-text">        Experience a variety of trading on Bitcost. You can use various types of coin transactions such as        Spot Trade, Futures        Trade, P2P, Staking, Mining, and margin.      </p>    </li>
            </ul>
            <a href="#" class="btn btn-primary">Explore More</a>
          </div>
          
        </div>
      </section>
