<%- include("./partials/headerDashboard.ejs") %>
<style>
  .grid{
    width: 100%;
/* padding-inline: .75rem; */
/* margin-inline: 2em; */
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: .5em;
  }
.currencycard{
    display: flex;
    flex-direction: column;
    width: 410px;
    aspect-ratio: 2/1;
    margin-block: 2rem;
    justify-content: center;
    background-image: url(.././public/assets/cool-background.png);
    gap: 1em;
    align-items: center;
    position: relative;
    border-radius: 10px;
    border: 1px solid #e3e6f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.currencycard > *{
    display: flex;
    gap: 3rem;
    width: max-content;

 
}
.uppcol >p > span{
 margin-top: .5em;
 color: black;
 font-size: 18px;
}
.uppcol,
.lowcol{
width: 100%;
padding-inline: 1em;
}
 .imgbx{
   position: absolute;
   top: 1em;right: 2rem;

 
}
  .addbtn{
   position: absolute;
   bottom: 1em;
   right: 2rem;
   background-color: #fff;
   /* width: 100px;
   aspect-ratio: 2/1; */
   padding: 1em;
   border-radius: 1em;
   font-size: 16px;
display: inline-block;
padding: 10px 30px;
transition: 0.5s all;
color: #ffbb11;
border: 1px solid #FFBB11;

}
a:hover{
    text-decoration: none;
}
.addbtn:hover{
    background-color: #FFBB11;
    color: white;
    border: 1px solid #ffbb11;


}
 
@media (max-width : 575px) {
    .grid{

grid-template-columns: 1fr;
gap: 2em;
  }
  .currencycard{
  
    width: 310px;
  

}
.addbtn{
font-size: 14px;

padding: 5px 20px;

}
}

@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}

</style>
<!-- Begin Page Content -->
<div class="container-fluid">
    
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"><b>Dasboard</b></h1>
    
    <div class="grid">

        <div class="currencycard">
            <div class="uppcol">
                            <p> Bitcoin Balance: <br> <span>$----</span></p>
                            <div class="imgbx">
                                <img style="width: 50px;" src="/img2/btcc.png" alt="Bitcoin logo">
                            </div>
                        </div>
                        <div class="lowcol">
                            <div class="textbx">
                                <p> Intrest: <span>$----</span></p>
                                <p> Deposit: <span>$----</span></p>
                            </div>
                        <a href="../../dashboard/addfunds" class="addbtn">Add Funds</a>
                        </div>

                    </div>
                    <div class="currencycard">
                        <div class="uppcol">
                            <p> Bitcoin Balance: <span>$----</span></p>
                            <div class="imgbx">
                                <img style="width: 50px;" src="/img2/usdt.png" alt="Usdt">                
                            </div>
                        </div>
                        <div class="lowcol">
                            <div class="textbx">
                                <p> Intrest: <span>$----</span></p>
                                <p> Deposit: <span>$----</span></p>
                            </div>
                        <a href="../../dashboard/addfunds" class="addbtn">Add Funds</a>
                        </div>

                    </div>
                    <div class="currencycard">
                        <div class="uppcol">
                            <p> Bitcoin Balance: <span>$----</span></p>
                            <div class="imgbx">
                                <img style="width: 50px;" src="/img2/usdc.png" alt="Bitcoin logo">
                            </div>
                        </div>
                        <div class="lowcol">
                            <div class="textbx">
                                <p> Intrest: <span>$----</span></p>
                                <p> Deposit: <span>$----</span></p>
                            </div>
                        <a href="../../dashboard/addfunds" class="addbtn">Add Funds</a>
                        </div>

                    </div>
                    <div class="currencycard">
                        <div class="uppcol">
                            <p> Bitcoin Balance: <span>$----</span></p>
                            <div class="imgbx">
                                <img style="width: 50px;" src="/img2/usdt.png" alt="Bitcoin logo">
                            </div>
                        </div>
                        <div class="lowcol">
                            <div class="textbx">
                                <p> Intrest: <span>$----</span></p>
                                <p> Deposit: <span>$----</span></p>
                            </div>
                        <a href="../../dashboard/addfunds" class="addbtn">Add Funds</a>
                        </div>

                    </div>
                    <div class="currencycard">
                        <div class="uppcol">
                            <p> Bitcoin Balance: <span>$----</span></p>
                            <div class="imgbx">
                                <img style="width: 50px;" src="/img2/busd.png" alt="Bitcoin logo">
                            </div>
                        </div>
                        <div class="lowcol">
                            <div class="textbx">
                                <p> Intrest: <span>$----</span></p>
                                <p> Deposit: <span>$----</span></p>
                            </div>
                        <a href="../../dashboard/addfunds" class="addbtn">Add Funds</a>
                        </div>

                    </div>
                </div>
                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
<%- include("./partials/footerDashboard.ejs") %>