<%- include("./partials/headerAuth.ejs") %>

<section class="sect">
    <div class="container-lg">
    
        <div class="user-lg signinBx">
          <div class="formBx">
            <form action="/reset" method="POST">
                <h2>Forgot password</h2>

              <input type="text" name="username" placeholder="Username" />
              <input type="password" name="password" placeholder="Password" />
              <input type="submit" name="" value="Reset" />
              <!-- <button type="submit">Reset Password</button> -->
              <p class="signup">
                Don't have an account ?
                <a href="/register" onclick="toggleForm();">Sign Up.</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>
</section>
<%- include("./partials/footer.ejs")%>
