<%- include("./partials/headerIndex.ejs") %>
<style>
  .heroAnim{
    margin-left: 6rem;
margin-top: -6rem;
  }

  .countimg{
    width: 500px;
    aspect-ratio: 1/1;
  }
</style>
      <div id="hero">
        <div class="heroTextbx">
          <h1 data-aos="fade-up">Invest with confidence on the world's leading social investment platform</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Join millions who've already discovered smarter investment in multiple types of assets.</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="/register" class="btn-get-started scrollto" data-nav-toggler>Get Started</a>
          </div>
        </div>
        <div class="heroimg" data-aos="fade-left" data-aos-delay="200">
          <lottie-player class="heroAnim" src="https://assets10.lottiefiles.com/private_files/lf30_gonpfxdh.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player>

        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">
          <div class="col-lg-2 col-md-4 col-6">
            <svg width="90" height="90" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M118.205 74.5143C110.192 106.657 77.6357 126.219 45.4887 118.204C13.3552 110.19 -6.20649 77.6324 1.81046 45.4918C9.82037 13.3451 42.3762 -6.21803 74.5132 1.79541C106.658 9.80884 126.218 42.3702 118.204 74.5149L118.205 74.5143H118.205Z" fill="#F7931A"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M86.4642 51.4515C87.6584 43.4668 81.5794 39.1747 73.2668 36.3115L75.9635 25.4955L69.3794 23.8549L66.7543 34.3861C65.0234 33.9544 63.2459 33.5477 61.4792 33.1444L64.1234 22.5437L57.5435 20.9031L54.8453 31.7156C53.413 31.3894 52.0062 31.0671 50.6413 30.7275L50.6489 30.6935L41.5694 28.4262L39.818 35.4583C39.818 35.4583 44.7027 36.5781 44.5998 36.647C47.266 37.3124 47.7481 39.0773 47.668 40.4763L44.5963 52.7982C44.7799 52.8448 45.018 52.9123 45.2808 53.0179L45.0898 52.9702L45.0896 52.9701C44.9271 52.9295 44.7582 52.8872 44.5848 52.8457L40.2793 70.107C39.9535 70.917 39.1264 72.1326 37.2624 71.671C37.3283 71.7666 32.477 70.4768 32.477 70.4768L29.2082 78.0133L37.7762 80.1493C38.7144 80.3846 39.6415 80.6262 40.5593 80.8655L40.5611 80.866C41.2019 81.033 41.8381 81.1989 42.4703 81.3605L39.7458 92.3005L46.3222 93.9411L49.0203 83.1172C50.8169 83.6049 52.5604 84.0548 54.2673 84.4789L51.5783 95.2517L58.1626 96.8923L60.8868 85.9728C72.1139 88.0976 80.5558 87.2409 84.1092 77.086C86.9724 68.9101 83.9666 64.1943 78.0601 61.119C82.3621 60.1268 85.6025 57.2973 86.4665 51.4524L86.4644 51.4509L86.4642 51.4515ZM71.4212 72.5455C69.5544 80.0467 57.8131 76.9455 52.441 75.5266C51.9578 75.399 51.5261 75.285 51.1577 75.1935L54.7732 60.6999C55.2221 60.812 55.7706 60.9351 56.3921 61.0745L56.3922 61.0745C61.9489 62.3216 73.3339 64.8766 71.4215 72.5455H71.4212ZM57.5068 54.3478C61.9855 55.5431 71.7559 58.1506 73.4574 51.333H73.458C75.1955 44.3603 65.7004 42.2581 61.063 41.2314C60.5413 41.1159 60.081 41.014 59.7052 40.9203L56.4273 54.0651C56.7368 54.1423 57.0999 54.2392 57.5068 54.3478Z" fill="white"/>
              </svg>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <svg width="90" height="90" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M118.191 74.5143C110.178 106.657 77.6222 126.219 45.4752 118.204C13.3417 110.19 -6.22004 77.6324 1.79691 45.4918C9.80683 13.3451 42.3626 -6.21803 74.4997 1.79541C106.644 9.80884 126.205 42.3702 118.191 74.5149L118.191 74.5143H118.191Z" fill="#F3BA2F"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M60 38.08L44.4634 53.6166L44.4637 53.616L35.424 44.576L60 20L84.584 44.5834L75.544 53.6234L60 38.08ZM29.0403 50.9584L20 60L29.0397 69.0384L38.08 59.9981L29.0403 50.9584ZM44.4634 66.3843L60 81.92L75.5437 66.377L84.5885 75.4122L84.584 75.417L60 100L35.424 75.424L35.4112 75.4112L44.4634 66.3843ZM90.9603 50.9635L81.92 60.0038L90.96 69.0435L100 60.0032L90.9603 50.9635Z" fill="white"/>
              <path d="M69.1686 59.9952H69.1725L60 50.8221L53.2202 57.6L52.4413 58.3792L50.8349 59.9859L50.8221 59.9984L50.8349 60.0115L60 69.1779L69.1731 60.0048L69.1776 59.9997L69.1693 59.9952" fill="white"/>
              </svg>          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <svg width="90" height="90" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="60" cy="60" r="60" fill="#EDF0F4"/>
              <path d="M59.8363 24L59.359 25.6213V72.663L59.8363 73.1392L81.6721 60.2318L59.8363 24Z" fill="#343434"/>
              <path d="M59.8364 24L38 60.2318L59.8364 73.1392V50.3064V24Z" fill="#8C8C8C"/>
              <path d="M59.8364 77.2734L59.5674 77.6015V94.3584L59.8364 95.1437L81.6855 64.3728L59.8364 77.2734Z" fill="#3C3C3B"/>
              <path d="M59.8364 95.1437V77.2734L38 64.3728L59.8364 95.1437Z" fill="#8C8C8C"/>
              <path d="M59.8364 73.1392L81.6722 60.2318L59.8364 50.3064V73.1392Z" fill="#141414"/>
              <path d="M38 60.2318L59.8364 73.1392V50.3064L38 60.2318Z" fill="#393939"/>
              </svg>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <svg width="90" height="90" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg" class="img-fluid">
              <circle cx="60.5" cy="59.5" r="53.5" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 60C0 26.8629 26.8628 0 59.9997 0H60.3484C76.2151 0.046169 91.4136 6.39353 102.6 17.6457C113.787 28.8979 120.046 44.1332 119.999 60C119.999 93.1371 93.1367 120 59.9997 120C26.8628 120 0 93.1371 0 60ZM54.7697 83.0993L61.0167 62.0339L70.7503 59.2736L72.7842 52.3002L63.1959 55.2058L73.3653 20.6295V20.0775C73.3502 19.6304 73.1579 19.2078 72.8309 18.9026C72.5039 18.5974 72.069 18.4347 71.622 18.4504H58.6922C57.685 18.4193 56.7862 19.0785 56.5131 20.0484L44.455 61.017L34.8667 63.9225L32.6875 70.6053L42.2758 67.6998L33.7045 96.9007H84.8423C85.8528 96.9425 86.7576 96.279 87.0214 95.3027L89.927 85.2785V84.7264C89.9118 84.2794 89.7196 83.8567 89.3926 83.5515C89.0656 83.2463 88.6307 83.0836 88.1836 83.0993H54.7697Z" fill="#345D9D"/>
              </svg>
          </div>
          
          <div class="col-lg-2 col-md-4 col-6">
            <svg width="90" height="90" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M118.191 74.5143C110.178 106.657 77.6222 126.219 45.4752 118.204C13.3417 110.19 -6.22004 77.6324 1.79691 45.4918C9.80683 13.3451 42.3626 -6.21803 74.4997 1.79541C106.644 9.80884 126.205 42.3702 118.191 74.5149L118.191 74.5143H118.191Z" fill="#50AF95"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M67.5924 66.8022C67.1681 66.834 64.9761 66.9648 60.0866 66.9648C56.1976 66.9648 53.4364 66.8482 52.4677 66.8022C37.4385 66.1411 26.2205 63.5248 26.2205 60.3924C26.2205 57.26 37.4385 54.6473 52.4677 53.9756V64.1966C53.4506 64.2673 56.2648 64.4335 60.1538 64.4335C64.8206 64.4335 67.1575 64.239 67.5782 64.2001V53.9827C82.5756 54.6509 93.7689 57.2671 93.7689 60.3924C93.7689 63.5178 82.5792 66.134 67.5782 66.7987L67.5924 66.8022ZM67.5924 52.9256V43.7793H88.5223V29.832H31.5378V43.7793H52.4642V52.922C35.4551 53.7034 22.6638 57.0726 22.6638 61.1101C22.6638 65.1476 35.4551 68.5134 52.4642 69.2982V98.6071H67.5888V69.2876C84.559 68.5063 97.3291 65.1405 97.3291 61.1066C97.3291 57.0726 84.5696 53.7069 67.5888 52.922L67.5924 52.9256Z" fill="white"/>
              </svg>
          </div>
          
          <div class="col-lg-2 col-md-4 col-6">
            <svg width="90" height="90" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="60" cy="60" r="60" fill="#EDF0F4"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M60 38.08L44.4634 53.6166L44.4637 53.616L35.424 44.576L60 20L84.584 44.5834L75.544 53.6234L60 38.08ZM29.0403 50.9584L20 60L29.0397 69.0384L38.08 59.9981L29.0403 50.9584ZM44.4634 66.3843L60 81.92L75.5437 66.377L84.5885 75.4122L84.584 75.417L60 100L35.424 75.424L35.4112 75.4112L44.4634 66.3843ZM90.9603 50.9635L81.92 60.0038L90.96 69.0435L100 60.0032L90.9603 50.9635Z" fill="#F3BA2F"/>
              </svg>
          </div>
          

        </div>

      </div>
    </section><!-- End Clients Section -->

        <!--       -  #TREND    -->
<section class="section trend" aria-label="crypto trend">      <div class="container">
  <div class="trend-tab">
      <ul class="tab-nav">
          <li><button class="tab-btn active">Crypto</button></li>
          <li><button class="tab-btn">DeFi</button></li>
          <li><button class="tab-btn">BSC</button></li>
          <li><button class="tab-btn">NFT</button></li>
          <li><button class="tab-btn">Metaverse</button></li>
          <li><button class="tab-btn">Polkadot</button></li>
          <li><button class="tab-btn">Solana</button></li>
          <li><button class="tab-btn">Opensea</button></li>
          <li><button class="tab-btn">Makersplace</button></li>
      </ul>
      <ul class="tab-content">
          <li>
              <div class="trend-card active">
              <div class="card-title-wrapper"><svg width="30" height="30" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M118.205 74.5143C110.192 106.657 77.6357 126.219 45.4887 118.204C13.3552 110.19 -6.20649 77.6324 1.81046 45.4918C9.82037 13.3451 42.3762 -6.21803 74.5132 1.79541C106.658 9.80884 126.218 42.3702 118.204 74.5149L118.205 74.5143H118.205Z" fill="#F7931A"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M86.4642 51.4515C87.6584 43.4668 81.5794 39.1747 73.2668 36.3115L75.9635 25.4955L69.3794 23.8549L66.7543 34.3861C65.0234 33.9544 63.2459 33.5477 61.4792 33.1444L64.1234 22.5437L57.5435 20.9031L54.8453 31.7156C53.413 31.3894 52.0062 31.0671 50.6413 30.7275L50.6489 30.6935L41.5694 28.4262L39.818 35.4583C39.818 35.4583 44.7027 36.5781 44.5998 36.647C47.266 37.3124 47.7481 39.0773 47.668 40.4763L44.5963 52.7982C44.7799 52.8448 45.018 52.9123 45.2808 53.0179L45.0898 52.9702L45.0896 52.9701C44.9271 52.9295 44.7582 52.8872 44.5848 52.8457L40.2793 70.107C39.9535 70.917 39.1264 72.1326 37.2624 71.671C37.3283 71.7666 32.477 70.4768 32.477 70.4768L29.2082 78.0133L37.7762 80.1493C38.7144 80.3846 39.6415 80.6262 40.5593 80.8655L40.5611 80.866C41.2019 81.033 41.8381 81.1989 42.4703 81.3605L39.7458 92.3005L46.3222 93.9411L49.0203 83.1172C50.8169 83.6049 52.5604 84.0548 54.2673 84.4789L51.5783 95.2517L58.1626 96.8923L60.8868 85.9728C72.1139 88.0976 80.5558 87.2409 84.1092 77.086C86.9724 68.9101 83.9666 64.1943 78.0601 61.119C82.3621 60.1268 85.6025 57.2973 86.4665 51.4524L86.4644 51.4509L86.4642 51.4515ZM71.4212 72.5455C69.5544 80.0467 57.8131 76.9455 52.441 75.5266C51.9578 75.399 51.5261 75.285 51.1577 75.1935L54.7732 60.6999C55.2221 60.812 55.7706 60.9351 56.3921 61.0745L56.3922 61.0745C61.9489 62.3216 73.3339 64.8766 71.4215 72.5455H71.4212ZM57.5068 54.3478C61.9855 55.5431 71.7559 58.1506 73.4574 51.333H73.458C75.1955 44.3603 65.7004 42.2581 61.063 41.2314C60.5413 41.1159 60.081 41.014 59.7052 40.9203L56.4273 54.0651C56.7368 54.1423 57.0999 54.2392 57.5068 54.3478Z" fill="white"/>
                </svg>
              <a href="#" class="card-title">Bitcoin <span class="span">BTC/USD</span></a> </div>
              <data class="card-value" value="46168.95" id="stock-price">---</data>
              <div class="card-analytics"> <data class="current-price" id="market-cap">----</data>
              <div class="badge red" id="price-percentage">----</div> </div>
              </div>
          </li>
          <li>
              <div class="trend-card active">
              <div class="card-title-wrapper"><svg width="30" height="30" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="60" cy="60" r="60" fill="#EDF0F4"/>
                <path d="M59.8363 24L59.359 25.6213V72.663L59.8363 73.1392L81.6721 60.2318L59.8363 24Z" fill="#343434"/>
                <path d="M59.8364 24L38 60.2318L59.8364 73.1392V50.3064V24Z" fill="#8C8C8C"/>
                <path d="M59.8364 77.2734L59.5674 77.6015V94.3584L59.8364 95.1437L81.6855 64.3728L59.8364 77.2734Z" fill="#3C3C3B"/>
                <path d="M59.8364 95.1437V77.2734L38 64.3728L59.8364 95.1437Z" fill="#8C8C8C"/>
                <path d="M59.8364 73.1392L81.6722 60.2318L59.8364 50.3064V73.1392Z" fill="#141414"/>
                <path d="M38 60.2318L59.8364 73.1392V50.3064L38 60.2318Z" fill="#393939"/>
                </svg>
              <a href="#" class="card-title">     Ethereum <span class="span">ETH/USD</span>   </a> </div>
              <data class="card-value" value="3480.04">USD 3,480.04</data>
              <div class="card-analytics">   <data class="current-price" value="36641.20">36,641.20</data>
              <div class="badge green">+10.55%</div> </div>
              </div>            
          </li>
          <li>
            <div class="trend-card active">
              <div class="card-title-wrapper"><svg width="30" height="30" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M118.191 74.5143C110.178 106.657 77.6222 126.219 45.4752 118.204C13.3417 110.19 -6.22004 77.6324 1.79691 45.4918C9.80683 13.3451 42.3626 -6.21803 74.4997 1.79541C106.644 9.80884 126.205 42.3702 118.191 74.5149L118.191 74.5143H118.191Z" fill="#50AF95"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M67.5924 66.8022C67.1681 66.834 64.9761 66.9648 60.0866 66.9648C56.1976 66.9648 53.4364 66.8482 52.4677 66.8022C37.4385 66.1411 26.2205 63.5248 26.2205 60.3924C26.2205 57.26 37.4385 54.6473 52.4677 53.9756V64.1966C53.4506 64.2673 56.2648 64.4335 60.1538 64.4335C64.8206 64.4335 67.1575 64.239 67.5782 64.2001V53.9827C82.5756 54.6509 93.7689 57.2671 93.7689 60.3924C93.7689 63.5178 82.5792 66.134 67.5782 66.7987L67.5924 66.8022ZM67.5924 52.9256V43.7793H88.5223V29.832H31.5378V43.7793H52.4642V52.922C35.4551 53.7034 22.6638 57.0726 22.6638 61.1101C22.6638 65.1476 35.4551 68.5134 52.4642 69.2982V98.6071H67.5888V69.2876C84.559 68.5063 97.3291 65.1405 97.3291 61.1066C97.3291 57.0726 84.5696 53.7069 67.5888 52.922L67.5924 52.9256Z" fill="white"/>
                </svg>
              <a href="#" class="card-title">     Tether <span class="span">USDT/USD</span>   </a> </div>
              <data class="card-value" value="1.00">USD 1.00</data>
              <div class="card-analytics"> <data class="current-price" value="36641.20">36,641.20</data>
              <div class="badge red">-0.01%</div> 
              </div>
          </div>            
          </li>
          <li>
            <div class="trend-card active">
              <div class="card-title-wrapper"><svg width="30" height="30" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M118.191 74.5143C110.178 106.657 77.6222 126.219 45.4752 118.204C13.3417 110.19 -6.22004 77.6324 1.79691 45.4918C9.80683 13.3451 42.3626 -6.21803 74.4997 1.79541C106.644 9.80884 126.205 42.3702 118.191 74.5149L118.191 74.5143H118.191Z" fill="#F3BA2F"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M60 38.08L44.4634 53.6166L44.4637 53.616L35.424 44.576L60 20L84.584 44.5834L75.544 53.6234L60 38.08ZM29.0403 50.9584L20 60L29.0397 69.0384L38.08 59.9981L29.0403 50.9584ZM44.4634 66.3843L60 81.92L75.5437 66.377L84.5885 75.4122L84.584 75.417L60 100L35.424 75.424L35.4112 75.4112L44.4634 66.3843ZM90.9603 50.9635L81.92 60.0038L90.96 69.0435L100 60.0032L90.9603 50.9635Z" fill="white"/>
                <path d="M69.1686 59.9952H69.1725L60 50.8221L53.2202 57.6L52.4413 58.3792L50.8349 59.9859L50.8221 59.9984L50.8349 60.0115L60 69.1779L69.1731 60.0048L69.1776 59.9997L69.1693 59.9952" fill="white"/>
                </svg>  
              <a href="#" class="card-title">     BNB <span class="span">BNB/USD</span>   </a> </div>
              <data class="card-value" value="443.56">USD 443.56</data>
              <div class="card-analytics">   <data class="current-price" value="36641.20">36,641.20</data>
              <div class="badge red">-1.24%</div> </div>
              </div>        
          </li>
      </ul>
  </div>
</div>    
</section>
    <!-- end of Trend tracker -->

    <!-- ======= Counts Section ======= -->
    <section class="section about" aria-label="about">
      <div class="container">
        <img src="/img/replace.jpg" alt="" class="countimg">
        <div class="about-content">
          <h2 class="h2 section-title">What Is Cryptex</h2>
          <p class="section-text">    Experience a variety of trading on Bitcost. You can use various types of coin transactions such as Spot    Trade, Futures    Trade, P2P, Staking, Mining, and margin.  </p>
          <ul class="section-list">
            <li class="section-item">      <div class="title-wrapper">        <ion-icon name="checkmark-circle" aria-hidden="true"></ion-icon>
              <h3 class="h3 list-title">View real-time cryptocurrency prices</h3>      </div>
              <p class="item-text">        Experience a variety of trading on Bitcost. You can use various types of coin transactions such as        Spot Trade, Futures        Trade, P2P, Staking, Mining, and margin.      </p>    </li>
              <li class="section-item">      <div class="title-wrapper">        <ion-icon name="checkmark-circle" aria-hidden="true"></ion-icon>
                <h3 class="h3 list-title">Buy and sell BTC, ETH, XRP, OKB, Etc...</h3>      </div>
                <p class="item-text">        Experience a variety of trading on Bitcost. You can use various types of coin transactions such as        Spot Trade, Futures        Trade, P2P, Staking, Mining, and margin.      </p>    </li>
              </ul>
              <a href="#" class="btn btn-primary">Explore More</a>
            </div>
            
          </div>
        </section>
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Investment Pack</h2>
          <!-- <p>Sit sint consectetur velit nemo qui impedit suscipit alias ea</p> -->
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
              <h3>Starter Plan</h3>
              <h6><sup>$</sup>100   earn   <sup>$</sup>1000</h6>
              <h6><sup>$</sup>200   earn   <sup>$</sup>2000</h6>
                <h6><sup>$</sup>300   earn   <sup>$</sup>3000</h6>
                <h6><sup>$</sup>400   earn   <sup>$</sup>4000</h4></h6>
              <ul>
                <li>For 5 days</li>
                <br>
                <br>
                
              </ul>
              <div class="btn-wrap">
                <a href="../../dashboard/addfunds" class="btn-buy">Invest</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Premium Plan</h3>
              <h6><sup>$</sup>1000   earn   <sup>$</sup>10000</h6>
              <h6><sup>$</sup>2000   earn   <sup>$</sup>20000</h6>
                <h6><sup>$</sup>3000   earn   <sup>$</sup>30000</h6>
                <h6><sup>$</sup>4000   earn   <sup>$</sup>40000</h4></h6>
              <ul>
                <li>For 7 days</li>
                <br>
                <br>
              </ul>
              <div class="btn-wrap">
                <a href="../../dashboard/addfunds" class="btn-buy">Invest</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
              <h3>Vip Plan</h3>
              <h6><sup>$</sup>10000   earn   <sup>$</sup>100000</h6>
              <h6><sup>$</sup>20000   earn   <sup>$</sup>200000</h6>
                <h6><sup>$</sup>30000   earn   <sup>$</sup>300000</h6>
                <h6><sup>$</sup>40000   earn   <sup>$</sup>400000</h4></h6>
              <ul>
                <li>For 14 days</li>
                <br>
                <br>
              </ul>
              <div class="btn-wrap">
                <a href="../../dashboard/addfunds" class="btn-buy">Invest</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

      <!--
        - #MARKET
      -->

      <section class="section market" aria-label="market update">
        <div class="container">

          <div class="title-wrapper">
            <h2 class="h2 section-title">Market Update</h2>

            <span></span>
          </div>

          <div class="market-tab">
            <table class="market-table">

              <thead class="table-head">

                <tr class="table-row table-title">

                  <th class="table-heading"></th>

                  <th class="table-heading" scope="col">#</th>

                  <th class="table-heading" scope="col">Name</th>

                  <th class="table-heading" scope="col">Last Price</th>

                  <th class="table-heading" scope="col">24h %</th>

                  <th class="table-heading" scope="col">Market Cap</th>

                  <th class="table-heading" scope="col">Last 7 Days</th>

                  <th class="table-heading"></th>

                </tr>

              </thead>

              <tbody class="table-body">
                <tr class="table-row">
                  <td class="table-data">
                    <button class="add-to-fav" aria-label="Add to favourite" data-add-to-fav>
                      <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                      <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                    </button>
                  </td>
                  <th class="table-data rank" scope="row">1</th>
                  <td class="table-data">
                    <div class="wrapper">
                      <svg width="30" height="30" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M118.205 74.5143C110.192 106.657 77.6357 126.219 45.4887 118.204C13.3552 110.19 -6.20649 77.6324 1.81046 45.4918C9.82037 13.3451 42.3762 -6.21803 74.5132 1.79541C106.658 9.80884 126.218 42.3702 118.204 74.5149L118.205 74.5143H118.205Z" fill="#F7931A"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M86.4642 51.4515C87.6584 43.4668 81.5794 39.1747 73.2668 36.3115L75.9635 25.4955L69.3794 23.8549L66.7543 34.3861C65.0234 33.9544 63.2459 33.5477 61.4792 33.1444L64.1234 22.5437L57.5435 20.9031L54.8453 31.7156C53.413 31.3894 52.0062 31.0671 50.6413 30.7275L50.6489 30.6935L41.5694 28.4262L39.818 35.4583C39.818 35.4583 44.7027 36.5781 44.5998 36.647C47.266 37.3124 47.7481 39.0773 47.668 40.4763L44.5963 52.7982C44.7799 52.8448 45.018 52.9123 45.2808 53.0179L45.0898 52.9702L45.0896 52.9701C44.9271 52.9295 44.7582 52.8872 44.5848 52.8457L40.2793 70.107C39.9535 70.917 39.1264 72.1326 37.2624 71.671C37.3283 71.7666 32.477 70.4768 32.477 70.4768L29.2082 78.0133L37.7762 80.1493C38.7144 80.3846 39.6415 80.6262 40.5593 80.8655L40.5611 80.866C41.2019 81.033 41.8381 81.1989 42.4703 81.3605L39.7458 92.3005L46.3222 93.9411L49.0203 83.1172C50.8169 83.6049 52.5604 84.0548 54.2673 84.4789L51.5783 95.2517L58.1626 96.8923L60.8868 85.9728C72.1139 88.0976 80.5558 87.2409 84.1092 77.086C86.9724 68.9101 83.9666 64.1943 78.0601 61.119C82.3621 60.1268 85.6025 57.2973 86.4665 51.4524L86.4644 51.4509L86.4642 51.4515ZM71.4212 72.5455C69.5544 80.0467 57.8131 76.9455 52.441 75.5266C51.9578 75.399 51.5261 75.285 51.1577 75.1935L54.7732 60.6999C55.2221 60.812 55.7706 60.9351 56.3921 61.0745L56.3922 61.0745C61.9489 62.3216 73.3339 64.8766 71.4215 72.5455H71.4212ZM57.5068 54.3478C61.9855 55.5431 71.7559 58.1506 73.4574 51.333H73.458C75.1955 44.3603 65.7004 42.2581 61.063 41.2314C60.5413 41.1159 60.081 41.014 59.7052 40.9203L56.4273 54.0651C56.7368 54.1423 57.0999 54.2392 57.5068 54.3478Z" fill="white"/>
                        </svg>
                      <h3>
                        <a href="#" class="coin-name">Bitcoin <span class="span">BTC</span></a>
                      </h3>
                    </div>
                  </td>
                  <td class="table-data last-price">$56,623.54</td>
                  <td class="table-data last-update green">+1.45%</td>
                  <td class="table-data market-cap">$880,423,640,582</td>
                  <td class="table-data">
                    <img src="./assets/images/chart-1.svg" width="100" height="40" alt="profit chart" class="chart">
                  </td>

                </tr>

                <tr class="table-row">

                  <td class="table-data">
                    <button class="add-to-fav" aria-label="Add to favourite" data-add-to-fav>
                      <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                      <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                    </button>
                  </td>

                  <th class="table-data rank" scope="row">2</th>

                  <td class="table-data">
                    <div class="wrapper">
                      <svg width="30" height="30" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="60" cy="60" r="60" fill="#EDF0F4"/>
                        <path d="M59.8363 24L59.359 25.6213V72.663L59.8363 73.1392L81.6721 60.2318L59.8363 24Z" fill="#343434"/>
                        <path d="M59.8364 24L38 60.2318L59.8364 73.1392V50.3064V24Z" fill="#8C8C8C"/>
                        <path d="M59.8364 77.2734L59.5674 77.6015V94.3584L59.8364 95.1437L81.6855 64.3728L59.8364 77.2734Z" fill="#3C3C3B"/>
                        <path d="M59.8364 95.1437V77.2734L38 64.3728L59.8364 95.1437Z" fill="#8C8C8C"/>
                        <path d="M59.8364 73.1392L81.6722 60.2318L59.8364 50.3064V73.1392Z" fill="#141414"/>
                        <path d="M38 60.2318L59.8364 73.1392V50.3064L38 60.2318Z" fill="#393939"/>
                        </svg>

                      <h3>
                        <a href="#" class="coin-name">Ethereum <span class="span">ETH</span></a>
                      </h3>
                    </div>
                  </td>

                  <td class="table-data last-price">$56,623.54</td>

                  <td class="table-data last-update red">-5.12%</td>

                  <td class="table-data market-cap">$880,423,640,582</td>

                  <td class="table-data">"next,,"
                    <img src="./assets/images/chart-2.svg" width="100" height="40" alt="loss chart" class="chart">
                  </td>

                </tr>

                <tr class="table-row">

                  <td class="table-data">
                    <button class="add-to-fav" aria-label="Add to favourite" data-add-to-fav>
                      <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                      <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                    </button>
                  </td>

                  <th class="table-data rank" scope="row">3</th>

                  <td class="table-data">
                    <div class="wrapper">
                      <svg width="30" height="30" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M118.191 74.5143C110.178 106.657 77.6222 126.219 45.4752 118.204C13.3417 110.19 -6.22004 77.6324 1.79691 45.4918C9.80683 13.3451 42.3626 -6.21803 74.4997 1.79541C106.644 9.80884 126.205 42.3702 118.191 74.5149L118.191 74.5143H118.191Z" fill="#50AF95"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M67.5924 66.8022C67.1681 66.834 64.9761 66.9648 60.0866 66.9648C56.1976 66.9648 53.4364 66.8482 52.4677 66.8022C37.4385 66.1411 26.2205 63.5248 26.2205 60.3924C26.2205 57.26 37.4385 54.6473 52.4677 53.9756V64.1966C53.4506 64.2673 56.2648 64.4335 60.1538 64.4335C64.8206 64.4335 67.1575 64.239 67.5782 64.2001V53.9827C82.5756 54.6509 93.7689 57.2671 93.7689 60.3924C93.7689 63.5178 82.5792 66.134 67.5782 66.7987L67.5924 66.8022ZM67.5924 52.9256V43.7793H88.5223V29.832H31.5378V43.7793H52.4642V52.922C35.4551 53.7034 22.6638 57.0726 22.6638 61.1101C22.6638 65.1476 35.4551 68.5134 52.4642 69.2982V98.6071H67.5888V69.2876C84.559 68.5063 97.3291 65.1405 97.3291 61.1066C97.3291 57.0726 84.5696 53.7069 67.5888 52.922L67.5924 52.9256Z" fill="white"/>
                        </svg>
                      <h3>
                        <a href="#" class="coin-name">Tether <span class="span">USDT/USD</span></a>
                      </h3>
                    </div>
                  </td>

                  <td class="table-data last-price">$56,623.54</td>

                  <td class="table-data last-update green">+1.45%</td>

                  <td class="table-data market-cap">$880,423,640,582</td>

                  <td class="table-data">
                    <img src="./assets/images/chart-1.svg" width="100" height="40" alt="profit chart" class="chart">
                  </td>

                 

                </tr>

                <tr class="table-row">

                  <td class="table-data">
                    <button class="add-to-fav" aria-label="Add to favourite" data-add-to-fav>
                      <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                      <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                    </button>
                  </td>

                  <th class="table-data rank" scope="row">4</th>

                  <td class="table-data">
                    <div class="wrapper">
                      <svg width="30" height="30" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M118.191 74.5143C110.178 106.657 77.6222 126.219 45.4752 118.204C13.3417 110.19 -6.22004 77.6324 1.79691 45.4918C9.80683 13.3451 42.3626 -6.21803 74.4997 1.79541C106.644 9.80884 126.205 42.3702 118.191 74.5149L118.191 74.5143H118.191Z" fill="#F3BA2F"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M60 38.08L44.4634 53.6166L44.4637 53.616L35.424 44.576L60 20L84.584 44.5834L75.544 53.6234L60 38.08ZM29.0403 50.9584L20 60L29.0397 69.0384L38.08 59.9981L29.0403 50.9584ZM44.4634 66.3843L60 81.92L75.5437 66.377L84.5885 75.4122L84.584 75.417L60 100L35.424 75.424L35.4112 75.4112L44.4634 66.3843ZM90.9603 50.9635L81.92 60.0038L90.96 69.0435L100 60.0032L90.9603 50.9635Z" fill="white"/>
                        <path d="M69.1686 59.9952H69.1725L60 50.8221L53.2202 57.6L52.4413 58.3792L50.8349 59.9859L50.8221 59.9984L50.8349 60.0115L60 69.1779L69.1731 60.0048L69.1776 59.9997L69.1693 59.9952" fill="white"/>
                        </svg>  
                      <h3>
                        <a href="#" class="coin-name">BNB <span class="span">BNB/USD</span></a>
                      </h3>
                    </div>
                  </td>

                  <td class="table-data last-price">$56,623.54</td>

                  <td class="table-data last-update red">-3.75%%</td>

                  <td class="table-data market-cap">$880,423,640,582</td>

                  <td class="table-data">
                    <img src="./assets/images/chart-2.svg" width="100" height="40" alt="loss chart" class="chart">
                  </td>

                </tr>

                <tr class="table-row">

                  <td class="table-data">
                    <button class="add-to-fav" aria-label="Add to favourite" data-add-to-fav>
                      <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                      <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                    </button>
                  </td>

                  <th class="table-data rank" scope="row">5</th>

                  <td class="table-data">
                    <div class="wrapper">
                      <svg width="30" height="30" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg" class="img-fluid">
                        <circle cx="60.5" cy="59.5" r="53.5" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 60C0 26.8629 26.8628 0 59.9997 0H60.3484C76.2151 0.046169 91.4136 6.39353 102.6 17.6457C113.787 28.8979 120.046 44.1332 119.999 60C119.999 93.1371 93.1367 120 59.9997 120C26.8628 120 0 93.1371 0 60ZM54.7697 83.0993L61.0167 62.0339L70.7503 59.2736L72.7842 52.3002L63.1959 55.2058L73.3653 20.6295V20.0775C73.3502 19.6304 73.1579 19.2078 72.8309 18.9026C72.5039 18.5974 72.069 18.4347 71.622 18.4504H58.6922C57.685 18.4193 56.7862 19.0785 56.5131 20.0484L44.455 61.017L34.8667 63.9225L32.6875 70.6053L42.2758 67.6998L33.7045 96.9007H84.8423C85.8528 96.9425 86.7576 96.279 87.0214 95.3027L89.927 85.2785V84.7264C89.9118 84.2794 89.7196 83.8567 89.3926 83.5515C89.0656 83.2463 88.6307 83.0836 88.1836 83.0993H54.7697Z" fill="#345D9D"/>
                        </svg>
                      <h3>
                        <a href="#" class="coin-name">Solana <span class="span">SOL</span></a>
                      </h3>
                    </div>
                  </td>

                  <td class="table-data last-price">$56,623.54</td>

                  <td class="table-data last-update green">+1.45%</td>

                  <td class="table-data market-cap">$880,423,640,582</td>

                  <td class="table-data">
                    <img src="./assets/images/chart-1.svg" width="100" height="40" alt="profit chart" class="chart">
                  </td>

                </tr>

                <tr class="table-row">

                  <td class="table-data">
                    <button class="add-to-fav" aria-label="Add to favourite" data-add-to-fav>
                      <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                      <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                    </button>
                  </td>

                  <th class="table-data rank" scope="row">6</th>

                  <td class="table-data">
                    <div class="wrapper">
                      <svg width="30" height="30" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="60" cy="60" r="60" fill="#EDF0F4"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M60 38.08L44.4634 53.6166L44.4637 53.616L35.424 44.576L60 20L84.584 44.5834L75.544 53.6234L60 38.08ZM29.0403 50.9584L20 60L29.0397 69.0384L38.08 59.9981L29.0403 50.9584ZM44.4634 66.3843L60 81.92L75.5437 66.377L84.5885 75.4122L84.584 75.417L60 100L35.424 75.424L35.4112 75.4112L44.4634 66.3843ZM90.9603 50.9635L81.92 60.0038L90.96 69.0435L100 60.0032L90.9603 50.9635Z" fill="#F3BA2F"/>
                        </svg>

                      <h3>
                        <a href="#" class="coin-name">XRP <span class="span">XRP</span></a>
                      </h3>
                    </div>
                  </td>

                  <td class="table-data last-price">$56,623.54</td>

                  <td class="table-data last-update red">-2.22%</td>

                  <td class="table-data market-cap">$880,423,640,582</td>

                  <td class="table-data">
                    <img src="./assets/images/chart-2.svg" width="100" height="40" alt="loss chart" class="chart">
                  </td>

                </tr>

              
              </tbody>

            </table>

          </div>

        </div>
      </section>




      <section class="section instruction" aria-label="instruction">
        <div class="container">
          <h2 class="h2 section-title">How It Work</h2>
          <p class="section-text">  Stacks is a production-ready library of stackable content blocks built in React Native.</p>
          <ul class="instruction-list">
            <li>    <div class="instruction-card">
              <figure class="card-banner">        <img src="./assets/images/instruction-1.png" width="96" height="96" loading="lazy" alt="Step 1"        class="img">      </figure>
              <p class="card-subtitle">Step 1</p>
              <h3 class="h3 card-title">Sign Up</h3>
              <p class="card-text">        Stacks Is A Production-Ready Library Of Stackable Content Blocks Built In React Native.      </p>
            </div>  </li>
            <li> 
              <div class="instruction-card">
              <figure class="card-banner">        <img src="./assets/images/instruction-2.png" width="96" height="96" loading="lazy" alt="Step 2"        class="img">      </figure>
              <p class="card-subtitle">Step 2</p>
              <h3 class="h3 card-title">Follow The Instruction</h3>
              <p class="card-text">        Stacks Is A Production-Ready Library Of Stackable Content Blocks Built In React Native.      </p>
            </div>  </li>
            <li>    <div class="instruction-card">
              <figure class="card-banner">        <img src="./assets/images/instruction-3.png" width="96" height="96" loading="lazy" alt="Step 3"        class="img">      </figure>
              <p class="card-subtitle">Step 3</p>
              <h3 class="h3 card-title">Start Investing</h3>
              <p class="card-text">        Stacks Is A Production-Ready Library Of Stackable Content Blocks Built In React Native.      </p>
            </div>  </li>
            <li>    <div class="instruction-card">
              <figure class="card-banner">        <img src="./assets/images/instruction-4.png" width="96" height="96" loading="lazy" alt="Step 4"        class="img">      </figure>
              <p class="card-subtitle">Step 4</p>
              <h3 class="h3 card-title">Earn Money</h3>
              <p class="card-text">        Stacks Is A Production-Ready Library Of Stackable Content Blocks Built In React Native.      </p>
            </div>  </li>
          </ul>
          
        </div>
      </section>
      
      
      
      


    <!-- ======= F.A.Q Section ======= -->
 
    <!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
     <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="flex row">


          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>Kindly contact us through the social media links below:</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>info@coinprow.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+1 747 263 2161</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section>
    <!-- End Contact Section -->

  </main><!-- End #main -->
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script>
    // const ws = new WebSocket("wss://stream.binance.com:9443/ws/btcusdt@ticker")


    const socket = new WebSocket('wss://stream.binance.com:9443/ws')

// Subscribe to updates on the market cap of Bitcoin
socket.addEventListener('open', event => {
    socket.send(JSON.stringify({
        method: 'SUBSCRIBE',
        params: ['btcusdt@ticker'],
        id: 1
    }))
})
    const stockPrice = document.getElementById("stock-price")
    const stockPercentage = document.getElementById("price-percentage")
    const marketCap = document.getElementById("market-cap")
    let lastPrice = NaN
    let lastPricePercentage = NaN

    function getColorForNumber(number, lastNumber) {
      const change = number - lastNumber
    if (change > 0) {
        return 'green'
    } else if (change < 0) {
        return 'red'
    } else {
        return 'black'
    }
}
    socket.onmessage = (event) =>{
      const data = JSON.parse(event.data)
      let price = data.c 
    let pricePercentage= data.P
    let priceCap= Math.floor(data.E)
  let priceData  = Math.floor(price * 1000)/1000
  
  
  let formattedPriceOptions = { style: 'currency', currency: 'USD' };
  let formattedPrice = priceData.toLocaleString('en-US', formattedPriceOptions);  
  let formattedPriceCap = priceCap.toLocaleString('en-US', formattedPriceOptions);  
  stockPrice.innerText = `USD ${formattedPrice}`
  stockPercentage.innerText = `${pricePercentage}%`
  marketCap.innerText = `${formattedPriceCap}`
  stockPrice.style.color = getColorForNumber(priceData, lastPrice)
  lastPrice = priceData
  stockPercentage.style.backgroundColor= getColorForNumber(pricePercentage, lastPricePercentage) == "black" ? "white" : getColorForNumber(pricePercentage, lastPricePercentage)
      // let price = parseFloat(data.c);
lastPricePercentage =pricePercentage
      // $("#price").text("$" + price.toFixed(2));
    };


  </script>
    <%- include("./partials/footer.ejs")%>
