<section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title">
        <h2>Investment Pack</h2>
        <!-- <p>Sit sint consectetur velit nemo qui impedit suscipit alias ea</p> -->
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
            <h3>Starter Plan</h3>
            <h6><sup>$</sup>500   earn   <sup>$</sup>5000</h6>
            <h6><sup>$</sup>700   earn   <sup>$</sup>7000</h6>
              <h6><sup>$</sup>800   earn   <sup>$</sup>8000</h6>
              <h6><sup>$</sup>900   earn   <sup>$</sup>9000</h4></h6>
            <ul>
              <li>For 5 days</li>
              <br>
              <br>
              
            </ul>
            <div class="btn-wrap">
              <a href="../../dashboard/addfunds" class="btn-buy">Invest</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <h3>Premium Plan</h3>
            <h6><sup>$</sup>1000   earn   <sup>$</sup>10000</h6>
            <h6><sup>$</sup>2000   earn   <sup>$</sup>20000</h6>
              <h6><sup>$</sup>3000   earn   <sup>$</sup>30000</h6>
              <h6><sup>$</sup>4000   earn   <sup>$</sup>40000</h4></h6>
            <ul>
              <li>For 7 days</li>
              <br>
              <br>
            </ul>
            <div class="btn-wrap">
              <a href="../../dashboard/addfunds" class="btn-buy">Invest</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
            <h3>Vip Plan</h3>
            <h6><sup>$</sup>10000   earn   <sup>$</sup>100000</h6>
            <h6><sup>$</sup>20000   earn   <sup>$</sup>200000</h6>
              <h6><sup>$</sup>30000   earn   <sup>$</sup>300000</h6>
              <h6><sup>$</sup>40000   earn   <sup>$</sup>400000</h4></h6>
            <ul>
              <li>For 14 days</li>
              <br>
              <br>
            </ul>
            <div class="btn-wrap">
              <a href="../../dashboard/addfunds" class="btn-buy">Invest</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>