<section class="section trend" aria-label="crypto trend">      <div class="container">
    <div class="trend-tab">
        <ul class="tab-nav">
  
        </ul>
        <ul class="tab-content">
            <li>
                <div class="trend-card active">
                <div class="card-title-wrapper"><svg width="30" height="30" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M118.205 74.5143C110.192 106.657 77.6357 126.219 45.4887 118.204C13.3552 110.19 -6.20649 77.6324 1.81046 45.4918C9.82037 13.3451 42.3762 -6.21803 74.5132 1.79541C106.658 9.80884 126.218 42.3702 118.204 74.5149L118.205 74.5143H118.205Z" fill="#F7931A"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M86.4642 51.4515C87.6584 43.4668 81.5794 39.1747 73.2668 36.3115L75.9635 25.4955L69.3794 23.8549L66.7543 34.3861C65.0234 33.9544 63.2459 33.5477 61.4792 33.1444L64.1234 22.5437L57.5435 20.9031L54.8453 31.7156C53.413 31.3894 52.0062 31.0671 50.6413 30.7275L50.6489 30.6935L41.5694 28.4262L39.818 35.4583C39.818 35.4583 44.7027 36.5781 44.5998 36.647C47.266 37.3124 47.7481 39.0773 47.668 40.4763L44.5963 52.7982C44.7799 52.8448 45.018 52.9123 45.2808 53.0179L45.0898 52.9702L45.0896 52.9701C44.9271 52.9295 44.7582 52.8872 44.5848 52.8457L40.2793 70.107C39.9535 70.917 39.1264 72.1326 37.2624 71.671C37.3283 71.7666 32.477 70.4768 32.477 70.4768L29.2082 78.0133L37.7762 80.1493C38.7144 80.3846 39.6415 80.6262 40.5593 80.8655L40.5611 80.866C41.2019 81.033 41.8381 81.1989 42.4703 81.3605L39.7458 92.3005L46.3222 93.9411L49.0203 83.1172C50.8169 83.6049 52.5604 84.0548 54.2673 84.4789L51.5783 95.2517L58.1626 96.8923L60.8868 85.9728C72.1139 88.0976 80.5558 87.2409 84.1092 77.086C86.9724 68.9101 83.9666 64.1943 78.0601 61.119C82.3621 60.1268 85.6025 57.2973 86.4665 51.4524L86.4644 51.4509L86.4642 51.4515ZM71.4212 72.5455C69.5544 80.0467 57.8131 76.9455 52.441 75.5266C51.9578 75.399 51.5261 75.285 51.1577 75.1935L54.7732 60.6999C55.2221 60.812 55.7706 60.9351 56.3921 61.0745L56.3922 61.0745C61.9489 62.3216 73.3339 64.8766 71.4215 72.5455H71.4212ZM57.5068 54.3478C61.9855 55.5431 71.7559 58.1506 73.4574 51.333H73.458C75.1955 44.3603 65.7004 42.2581 61.063 41.2314C60.5413 41.1159 60.081 41.014 59.7052 40.9203L56.4273 54.0651C56.7368 54.1423 57.0999 54.2392 57.5068 54.3478Z" fill="white"/>
                  </svg>
                <a href="#" class="card-title">Bitcoin <span class="span">BTC/USD</span></a> </div>
                <data class="card-value" value="46168.95" id="stock-price_btc">---</data>
                <div class="card-analytics"> <data class="current-price" id="market-cap_btc">----</data>
                <div class="badge red" id="price-percentage_btc">----</div> </div>
                </div>
            </li>
            <li>
                <div class="trend-card active">
                <div class="card-title-wrapper"><svg width="30" height="30" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="60" cy="60" r="60" fill="#EDF0F4"/>
                  <path d="M59.8363 24L59.359 25.6213V72.663L59.8363 73.1392L81.6721 60.2318L59.8363 24Z" fill="#343434"/>
                  <path d="M59.8364 24L38 60.2318L59.8364 73.1392V50.3064V24Z" fill="#8C8C8C"/>
                  <path d="M59.8364 77.2734L59.5674 77.6015V94.3584L59.8364 95.1437L81.6855 64.3728L59.8364 77.2734Z" fill="#3C3C3B"/>
                  <path d="M59.8364 95.1437V77.2734L38 64.3728L59.8364 95.1437Z" fill="#8C8C8C"/>
                  <path d="M59.8364 73.1392L81.6722 60.2318L59.8364 50.3064V73.1392Z" fill="#141414"/>
                  <path d="M38 60.2318L59.8364 73.1392V50.3064L38 60.2318Z" fill="#393939"/>
                  </svg>
                <a href="#" class="card-title">     Ethereum <span class="span">ETH/USD</span>   </a> </div>
                <data class="card-value" id="stock-price_eth">---</data>
                <div class="card-analytics"> <data class="current-price" id="market-cap_eth">----</data>
                  <div class="badge red" id="price-percentage_eth">----</div> </div>
                </div>            
            </li>
            <li>
              <div class="trend-card active">
                <div class="card-title-wrapper"><svg width="30" height="30" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="60" cy="60" r="60" fill="#EDF0F4"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M60 38.08L44.4634 53.6166L44.4637 53.616L35.424 44.576L60 20L84.584 44.5834L75.544 53.6234L60 38.08ZM29.0403 50.9584L20 60L29.0397 69.0384L38.08 59.9981L29.0403 50.9584ZM44.4634 66.3843L60 81.92L75.5437 66.377L84.5885 75.4122L84.584 75.417L60 100L35.424 75.424L35.4112 75.4112L44.4634 66.3843ZM90.9603 50.9635L81.92 60.0038L90.96 69.0435L100 60.0032L90.9603 50.9635Z" fill="#F3BA2F"/>
                  </svg>
                <a href="#" class="card-title">  BUSD <span class="span">BUSD/USD</span>   </a> </div>
                <data class="card-value"id="stock-price_busd">---</data>
                <div class="card-analytics"> <data class="current-price" id="market-cap_busd">----</data>
                  <div class="badge red" id="price-percentage_busd">----</div> </div>
                </div>
              </li>
              <li>
                <div class="trend-card active">
                  <div class="card-title-wrapper"><svg width="30" height="30" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M118.191 74.5143C110.178 106.657 77.6222 126.219 45.4752 118.204C13.3417 110.19 -6.22004 77.6324 1.79691 45.4918C9.80683 13.3451 42.3626 -6.21803 74.4997 1.79541C106.644 9.80884 126.205 42.3702 118.191 74.5149L118.191 74.5143H118.191Z" fill="#F3BA2F"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M60 38.08L44.4634 53.6166L44.4637 53.616L35.424 44.576L60 20L84.584 44.5834L75.544 53.6234L60 38.08ZM29.0403 50.9584L20 60L29.0397 69.0384L38.08 59.9981L29.0403 50.9584ZM44.4634 66.3843L60 81.92L75.5437 66.377L84.5885 75.4122L84.584 75.417L60 100L35.424 75.424L35.4112 75.4112L44.4634 66.3843ZM90.9603 50.9635L81.92 60.0038L90.96 69.0435L100 60.0032L90.9603 50.9635Z" fill="white"/>
                    <path d="M69.1686 59.9952H69.1725L60 50.8221L53.2202 57.6L52.4413 58.3792L50.8349 59.9859L50.8221 59.9984L50.8349 60.0115L60 69.1779L69.1731 60.0048L69.1776 59.9997L69.1693 59.9952" fill="white"/>
                    </svg>  
                  <a href="#" class="card-title">     BNB <span class="span">BNB/USD</span>   </a> </div>
                  <data class="card-value" id="stock-price_bnb">---</data>
                  <div class="card-analytics"><data class="current-price" id="market-cap_bnb">----</data>
                    <div class="badge red" id="price-percentage_bnb">----</div> </div>
                  </div>        
              </li>
            </div>            
        </ul>
    </div>
  </div>    
  </section>