.general-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #FFBB11;
  border: 2px solid #FFBB11;
  margin-top: 35px;
}

.general-btn:hover {
  background: #FFBB11;
  color: #fff;
}

#btn-admin{
  border: none;
  background: none;
  width: fit-content;
}